spec/expectations/extended.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:simpleType name="percentType">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:simpleType name="currencyType">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:simpleType name="yearType">
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>
  <xs:simpleType name="phoneType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
</xs:schema>
